{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <div class="row box-breadcrumb">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Trang Chủ</a>
            <a href="#" class="btn btn-default">Tìm Kiếm</a>
        </div>
    </div>
    {{ render(url('app_block_news')) }}
    {% if items|length > 0 %}
        <div class="row box-category">
            <div class="col-md-12 boder-box">
                <div class="box-title-2">
                    <h2 class="text-box-2"> Kết quả tìm kiếm </h2>
                    <a href="#" title="Kết quả tìm kiếm"><p class="view-all">Xem thêm >></p></a>
                </div>
                <div class="row row-list-item">
                    <div id="products-1" class="row list-group">
                        {% for item in items %}
                            <div class="item-product col-xs-12 col-lg-4">
                                <div class="thumbnail">
                                    {% if(item.imageFeature == null) %}
                                        <img class="group list-group-image img-responsive" data-toggle="tooltip"
                                             data-placement="top"
                                             src="{{ item.image }}" alt=""/>
                                    {% else %}
                                        <img class="group list-group-image img-responsive" data-toggle="tooltip"
                                             data-placement="top"
                                             src="{% path item.imageFeature,'image_content' %}" alt=""/>
                                    {% endif %}
                                    <div class="caption">
                                        <a href="{{ path('app_product_detail',{'slug':item.alias }) }}"
                                           title="{{ item.name }}"><h4
                                                    class="text-left product-title">{{ characterLimit(item.name,50) }}</h4>
                                        </a>
                                        <p class="group inner list-group-item-text product-description">
                                            {% if(item.description|length > 0) %}
                                                {{ characterLimit(item.description,80)|raw }}
                                            {% else %}
                                                {{ characterLimit(item.body,80)|raw }}
                                            {% endif %}.
                                        </p>
                                        <div class="row price">
                                            <div class="col-xs-12 col-md-6">
                                        <span class="lead">
                                           {{ item.price|number_format(0, '.', ',') }} VND</span>
                                                <br>
                                                <span class="lead-old">
                                            {{ item.priceOld|number_format(0, '.', ',') }} VND</span>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-detail"
                                                   href="{{ path('app_product_detail',{'slug':item.alias }) }}">Xem
                                                    thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='pager'>{{ knp_pagination_render(items) }}</div>
        </div>
    {% else %}
        <p class="alert alert-info col-xs-12">{{ 'Result not found'|trans() }}</p>
    {% endif %}
{% endblock %}