<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>
    <meta name="description"
          content="Đẹp Rạng Ngời - Đại l&#253; b&#225;n bu&#244;n, b&#225;n lẻ c&#225;c sản phẩm mỹ phẩm, thuốc giảm c&#226;n, đồ trang điểm, nước hoa..."/>
    <meta name="keywords" content="Mỹ phẩm, Thuốc giảm c&#226;n, Sữa Tắm, Đồ trang điểm, Nước hoa"/>
    <meta property="fb:app_id" content="425450817599085">
    <meta property="fb:admins" content="giamcanlamdep24h">
    <meta http-equiv="refresh" content="10800">
    <meta property="og:title" content="Mỹ Phẩm - Đẹp Rạng Ngời"/>
    <meta property="og:image" itemprop="thumbnailUrl"/>
    <meta property="og:description" itemprop="description"
          content="Đẹp Rạng Ngời - Đại l&#253; b&#225;n bu&#244;n, b&#225;n lẻ c&#225;c sản phẩm mỹ phẩm, thuốc giảm c&#226;n, đồ trang điểm, nước hoa..."/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Đẹp rạng ngời"/>
    <meta property="og:url" itemprop="url"/>
    <meta property="article:section"/>
    <meta property="article:publisher" content=""/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('default/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('default/css/style.css') }}">
    <link href="{{ asset('default/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('default/js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('default/js/jquery.zoom.min.js') }}"></script>
</head>
<body>

{% block adv %}
    <div class="slide-left left" id="slide-left">
        <a rel="nofollow" title="Quảng cáo trái">
            <img src="{{ asset('default/images/Left-banner_a94138b7.png') }}" class="img-responsive adv_img left"
                 title="Quảng cáo trái" alt=""/>
        </a>
    </div>
    <div class="slide-right right" id="slide-right">
        <a rel="nofollow" title="Quảng cáo phải">
            <img src="{{ asset('default/images/Right-banner_1_e9c10c24.png') }}" class="img-responsive adv_img right"
                 title="Quảng cáo phải" alt=""/>
        </a>
    </div>
{% endblock %}
<div class="container" id="main">
    {% block nav_bar %}
        {{ render(url('app_block_menu')) }}
    {% endblock %}
    <div class="clearfix"></div>
    {% block box_slogan %}
        <div class="row box-slogan">
            <div class="row">
                <img src="{{ asset('default/images/deprangngoivn.png') }}" class="img-responsive"/>
            </div>
        </div>
    {% endblock %}
    {% block search_box %}
        {{ render(url('app_block_search')) }}
    {% endblock %}
    <div class="main-content">
        {% block main_content %}
            // show content
        {% endblock %}
    </div>
</div>
</body>
{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row"><!-- row -->

                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                    <ul class="list-unstyled clear-margins"><!-- widgets -->

                        <li class="widget-container widget_nav_menu"><!-- widgets list -->

                            <h1 class="title-widget">Liên Kết</h1>

                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Quy định giao hàng</a></li>
                            </ul>

                        </li>

                    </ul>


                </div>
                <!-- widgets column left end -->
                <!-- widgets column left end -->
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                    <ul class="list-unstyled clear-margins"><!-- widgets -->

                        <li class="widget-container widget_recent_news"><!-- widgets list -->

                            <h1 class="title-widget">Thông Tin Liên Hệ</h1>

                            <div class="footerp">

                                <h2 class="title-median">Mỹ Phẩm Đẹp Rạng Ngời</h2>

                                <p><b>Email:</b> <a
                                            href="mailto:deprangngoi.vn@gmail.com">deprangngoi.vn@gmail.com</a>
                                </p>

                                <p><b> 0971.319.345 - 0938.367.123 (Zalo) </b>

                                    <b style="color:#ffc106;">(8AM to 10PM):</b> 0971.319.345 - 0938.367.123 (Zalo) </p>

                                <p><b>394 Dương Quảng Hàm, Phường 5, Quận Gò Vấp, Thành Phố Hồ Chí Minh</b></p>
                            </div>

                            <div class="social-icons">

                                <ul class="nomargin">

                                    <a href="#"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                    <a href="#"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                    <a href="#"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                    <a href="#"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-3"><!-- widgets column left -->

                    <ul class="list-unstyled clear-margins"><!-- widgets -->

                        <li class="widget-container widget_nav_menu"><!-- widgets list -->
                            <script>(function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=425450817599085";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                            <h1 class="title-widget">Facebook</h1>

                            <div id="fb-root"></div>
                            <div class="fb-page"
                                 data-href="https://www.facebook.com/biquyetdeprangngoi?__mref=message_bubble"
                                 data-width="340" data-height="235" data-hide-cover="false" data-show-facepile="true"
                                 data-show-posts="false">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote
                                            cite="https://www.facebook.com/biquyetdeprangngoi?__mref=message_bubble"><a
                                                href="https://www.facebook.com/biquyetdeprangngoi?__mref=message_bubble">Bí
                                            Quyết Đẹp Hơn Mỗi Ngày</a></blockquote>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="copyright">

                        © 2016, Anh Nguyen, All rights reserved

                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="design">

                        <a href="#">Đẹp Rạng Ngời </a> | <a target="_blank" href="http://www.webenlance.com">Web Design
                            &
                            Development by anhnt0212@gmail.com</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <input type="hidden" name="base_url" value="{{ app.request.getSchemeAndHttpHost() }}">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/580ee450e808d60cd07266ea/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}

{% block app_js %}
    <script type="text/javascript">
        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKphRSM9_O7y_BnL6bPUaNYKNK0lSnihs&callback=initMap">
    </script>
    <script type="text/javascript" src="{{ asset('default/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('default/js/common.js') }}"></script>
    <script src="{{ asset('default/bxslider/jquery.bxslider.min.js') }}"></script>
    <link href="{{ asset('default/bxslider/jquery.bxslider.css') }}" rel="stylesheet"/>
{% endblock %}
</html>
