<div class="container">
    <div class="row"><!-- row -->

        <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">Liên Kết</h1>
                    <ul>
                        <li><a href="{{ path('app_contact') }}"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a></li>
                        <li><a href="{{ path('app_contact') }}"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                        <li><a href="https://drive.google.com/file/d/0B1GC06Wi2qERWVlOeUQzVDIxdDQ/view" target="_blank"><i class="fa fa-angle-double-right"></i>Quy định giao hàng</a></li>
                        <li><a href="https://drive.google.com/file/d/0B1GC06Wi2qERS0tUeU9SSi1RUTA/view" target="_blank"><i class="fa fa-angle-double-right"></i>Thanh toán</a></li>
                        <li><a href="https://drive.google.com/file/d/0B1GC06Wi2qERUUo4VzRUS3NQVEk/view" target="_blank"><i class="fa fa-angle-double-right"></i>Hướng dẫn mua hàng</a></li>
                        <li><a href="https://drive.google.com/file/d/0B1GC06Wi2qERVlZFUXd2UnhyVVE/view" target="_blank"><i class="fa fa-angle-double-right"></i>Phí vận chuyển</a></li>
                    </ul>

                </li>

            </ul>


        </div>
        <!-- widgets column left end -->
        <!-- widgets column left end -->
        <div class="col-lg-3 col-md-3"><!-- widgets column center -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_recent_news"><!-- widgets list -->

                    <h1 class="title-widget">Thông Tin Liên Hệ</h1>

                    <div class="footerp">
                        {% if(contact) %}
                            {{ contact.body|raw }}
                        {% endif %}
                    </div>

                    <div class="social-icons">

                        <ul class="nomargin">

                            <a href="{{ facebook.body|striptags  }}"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                            <a href="#"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                            <a href="#"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-3"><!-- widgets column left -->

            <ul class="list-unstyled clear-margins"><!-- widgets -->

                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=425450817599085";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <h1 class="title-widget">Facebook</h1>

                    <div id="fb-root"></div>
                    <div class="fb-page"
                         data-href="{{ facebook.body|striptags  }}?__mref=message_bubble"
                         data-width="340" data-height="235" data-hide-cover="false" data-show-facepile="true"
                         data-show-posts="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote
                                    cite="{{ facebook.body|striptags  }}?__mref=message_bubble"><a
                                        href="{{ facebook.body|striptags  }}?__mref=message_bubble">Bí
                                    Quyết Đẹp Hơn Mỗi Ngày</a></blockquote>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>