<div class="row">
    <div class="col-md-8 boder-box">
        <div class="box-title-1">
            <h2 class="text-box-1">Khuyến mại</h2>
        </div>
        <div class="adv-home">
            {% if(saleoff == null) %}
                <a rel="nofollow" title="CHƯƠNG TRÌNH KHUYẾN MÃI">
                    <img src="{{ asset('default/images/1_c31d92cb.jpg') }}" class="img-responsive"
                         title="CHƯƠNG TRÌNH KHUYẾN MÃI" alt=""/>
                </a>
            {% else %}
                <a href="{{ saleoff.link }}" title="{{ saleoff.title }}">
                    <img src="{% path saleoff.imageFeature,'preview' %}" class="img-responsive" title="{{ saleoff.title }}"
                         alt=""/>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 pull-left">
        <form action="#" data-ajax="true" data-ajax-failure="OnFailure"
              data-ajax-success="OnSuccess" id="frmnewsletter" method="post">
            <div class="col-md-12 boder-box">
                <p class="p-letter-1">NHẬN THÔNG TIN KHUYẾN MÃI</p>

                <div class="input-group">
                    <input type="email" class="form-control" name="email-sub"
                           placeholder="Vui lòng nhập email" required>
                    <span class="input-group-btn">
                             <button class="btn btn-default" type="button"><span
                                         class="glyphicon glyphicon-ok-circle"></span></button>
                </span>

                    <div class="clearfix"></div>
                </div>
                <p class="p-letter-2"> Nhận mã giảm giá và các chương trình khuyến mãi mã giảm giá và các
                    chương
                    trình</p>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="col-md-12 boder-box pull-0 pill-0-ex">
            <p class="p-letter-3">Cẩm nang làm đẹp</p>
            <div class="offer-wrap">
                {% for n in news %}
                    <a href="{{ path('app_list_new_detail',{'alias':n.alias}) }}"
                       title="{{ n.title }}">
                        <h3 class="text-left text-news-home">{{ characterLimit(n.title,50) }}
                        </h3></a>
                {% endfor %}
            </div>
            <a href="{{ path('app_list_new') }}" title="Cẩm nang làm đẹp"><p class="view-all-ex">Xem thêm &gt;&gt;</p>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>