
<div class="row box-slider">
    <div class="container sliders">
        {% for item in sliders %}
        <div class="slide"><a href="{{ item.link }}">
                {% if(item.imageFeature == null) %}
                    <img width="100%" src="{{ item.imageOld }}" class="img-responsive " title="{{ item.title }}" alt="{{ item.metaTitle }}"/>
                {% else %}
                    <img width="100%" src="{% path item.imageFeature,'preview' %}" class="img-responsive " title="{{ item.title }}" alt="{{ item.metaTitle }}"/>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>