{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <div class="main-content">
        {% block slider %}
            {{ render(url('app_block_slider')) }}
        {% endblock %}
        {% block adv_home %}
            {{ render(url('app_block_news')) }}
        {% endblock %}
        {% for cat in category %}
        <div class="row box-category">
            <div class="col-md-12 boder-box">
                <div class="box-title-2">
                    <h2 class="text-box-2"> {{ cat.name }} </h2>
                    <a href="{{ path('app_category',{'alias':cat.alias}) }}" title="{{ cat.name }}"><p class="view-all">Xem thêm >></p></a>
                </div>
                <div class="row row-list-item">
                    <div id="products-1" class="row list-group">
                        {% for item in cat.product %}
                            <div class="item  col-xs-12 col-lg-4">
                                <div class="thumbnail">
                                    <img class="group list-group-image img-responsive" data-toggle="tooltip"
                                         data-placement="top"
                                         src="{{ item.image }}" alt=""/>

                                    <div class="caption">
                                        <a href="{{ path('app_product_detail',{'slug':item.alias }) }}"
                                           title="{{ item.name }}"><h4
                                                    class="text-left product-title">{{ item.name }}</h4>
                                        </a>

                                        <p class="group inner list-group-item-text product-description">
                                          {% if(item.description|length > 0) %}
                                            {{ item.description }}
                                                {% else %}
                                                {{ characterLimit(item.body,225)|striptags  }}
                                          {% endif %}
                                        </p>
                                        <div class="row price">
                                            <div class="col-xs-12 col-md-6">
                                        <span class="lead">
                                            {{ item.price|number_format(0, '.', ',') }} VND</span>
                                                <span class="lead-old">
                                            {{ item.priceOld|number_format(0, '.', ',') }} VND</span>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <a class="btn btn-detail"
                                                   href="{{ path('app_product_detail',{'slug':item.alias }) }}">Xem Thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12 margin-top hidden-phone">
                <a rel="nofollow" title="Quảng c&#225;o footer">
                    <img src="{{ asset('default/images/footer_6ad50663_d63f4d23.png') }}" class="img-responsive"
                         title="Quảng c&#225;o footer" alt=""/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}