{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <style>

    </style>
    <div class="row box-breadcrumb">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Trang Chủ</a>
            <a href="#" class="btn btn-default">Chi tiết Hàng</a>
            <a href="#" class="btn btn-default">Đặt hàng</a>
        </div>
    </div>
    <div class="row card-detail">
        {% if(items == null) %}
            <div class="alert alert-success">
                <strong>Bạn không có sản phẩm nào</strong>
            </div>
        {% else %}
            <h1>Đặt Hàng Ngay</h1>
            <form action="{{ path('app_card_submit_card') }}" id="ProductCartupdateForm" method="post"
                  accept-charset="utf-8">
                <hr>
                <div class="row card-sub-title">
                    <div class="col col-sm-1"><strong>Hình</strong></div>
                    <div class="col col-sm-5"><strong>Sản phẩm</strong></div>
                    <div class="col col-sm-2"><strong>Giá</strong></div>
                    <div class="col col-sm-1"><strong>SL</strong></div>
                    <div class="col col-sm-2"><strong>VND</strong></div>
                    <div class="col col-sm-1"><strong>Xoá</strong></div>
                </div>
                <hr
                {% for item in items %}
                    <div class="row" id="row-2_0">
                        <div class="col col-sm-1">
                            {% if item.product.imageFeature == null %}
                                <img src="{{ item.product.image }}" class="px60 img-responsive" alt="{{ item.product.name }}">
                            {% else %}
                                <img src="/uploads/media/product/0001/01/thumb_{{item.product.imageFeature.id}}_product_image_content.jpeg" class="px60 img-responsive"
                                     alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col col-sm-5">
                            <strong><a href="{{ path('app_product_detail',{'slug':item.product.alias }) }}">{{ item.product.name }}</a></strong>
                            <br>
                            <small></small>
                        </div>
                        <div class="col col-sm-2" id="price-{{ item.product.id }}">{{ item.product.price|number_format(0, '.', ',') }}VNĐ
                        </div>
                        <div class="col col-sm-1">
                            <input  name="product[{{ item.product.id }}][quantity]" class="product-quantity" data-productid="{{ item.product.id }}" data-productprice="{{ item.product.price }}" value="{{ item.quantity }}" data-quantityold="{{ item.quantity }}" min="1" max="30" type="number" id="ProductQuantity-{{ item.product.id }}"/>
                        </div>
                        <div class="col col-sm-2"
                             id="subtotal-{{ item.product.id }}">{{ (item.product.price*item.quantity)|number_format(0, '.', ',') }}
                            VNĐ
                        </div>
                        <div class="col col-sm-1"><a class="remove" id="product-id-{{ item.product.id }}"
                                                     onclick="window.location.href='{{ path('app_product_card_edit',{'action':'delete','value': item.product.id }) }}'"
                                                     title="Xoá Sản Phẩm"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                    <hr>
                    <input name="product[{{ item.product.id }}][productId]" value="{{ item.product.id }}" type="hidden"
                           id="ProductId-{{ item.product.id }}"/>
                {% endfor %}
                <div class="row">
                    <div class="col col-sm-12">
                        <div class="pull-right">
                            <a href="{{ path('app_product_card_edit',{'action':'all','value':'all'}) }}"
                               class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> &nbsp;Xoá toàn bộ
                                đơn hàng</a> &nbsp; &nbsp;
                            <button class="btn btn-sm btn-default"
                                    onclick="window.location.href='{{ path('app_homepage') }}'" type="button"><i
                                        class="fa fa-calculator"></i> &nbsp;Tiếp tục mua
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-login main-center">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa"
                                                                       aria-hidden="true"></i></span>
                                            <input type="email" class="form-control" name="email" id="email"
                                                   placeholder="Nhập Email" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                           aria-hidden="true"></i></span>
                                            <input type="tel"
                                                   onkeypress='return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)'
                                                   class="form-control" name="phone" id="phone" required
                                                   placeholder="Nhập số điện thoại"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                           aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="fullname" id="fullname"
                                                   placeholder="Nhập tên của bạn" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                           aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="address" id="address"
                                                   placeholder="Nhập địa chỉ" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <textarea class="form-control" cols="200" rows="5" name="description"
                                                      placeholder="Thêm mô tả"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <select class="form-control" name="city_trans">
                                            <option value="0" selected disabled>Vui lòng chọn thành phố giao hàng
                                            </option>
                                            {% if(city|length >0) %}
                                                {% for c in city %}
                                                    <option value="{{ c.city_code }}">{{ c.city_name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" onchange="App.changePrice();" name="dist_trans"
                                                disabled>
                                            <option value="0" disabled selected>Vui lòng quận huyện</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" value="{{ priceTotal }}" name="priceTotal"/>
                                <input type="hidden" value="0" name="shipPrice"/>
                                <input type="hidden" value="{{ priceTotal }}" name="totalCard"/>
                                <div class="form-group">
                                    <a class="show-ship-img" href="javascript:;" title="Chi tiết thanh toán giao hàng" data-toggle="collapse" type="button" data-target="#demo">Chi tiết hơn</a>
                                    <div id="demo" class="collapse">
                                        <img src="{{ asset('default/images/ship.png') }}" class="img-responsive">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-12 pull-left tr">
                                        <strong>Tổng số tiền:</strong> <span class="normal"
                                                                             id="subtotal">{{ priceTotal|number_format(0, '.', ',') }}
                                            VNĐ</span>
                                        <br>
                                        <br>
                                        <strong> Chi phí ship:</strong> <span class="normal" id="shipPrice">N/A</span>
                                        <br>
                                        <br>
                                        <strong>Tông chi phí:</strong> <span class="red"
                                                                             id="total">{{ priceTotal|number_format(0, '.', ',') }}
                                            VNĐ</span>
                                        <br>
                                        <br>
                                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i>
                                            &nbsp;Đặt hàng
                                        </button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12 margin-top hidden-phone">
            <a rel="nofollow" title="Quảng c&#225;o footer">
                <img src="{{ asset('default/images/footer_6ad50663_d63f4d23.png') }}" class="img-responsive"
                     title="Quảng c&#225;o footer" alt=""/>
            </a>
        </div>
    </div>
{% endblock %}