{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <div class="row box-breadcrumb">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Trang Chủ</a>
            <a href="#" class="btn btn-default">Cẩm Nang Làm Đẹp</a>
        </div>
    </div>
    {{ render(url('app_block_news')) }}
    <div class="row">
        <div class="col-md-9 new-list">
            <div class="content">
                {% for item in items %}
                    <div class="box1">
                        <h3><a href="{{ path('app_list_new_detail',{'alias':item.alias}) }}">{{ item.title }}</a></h3>
                        <span>By Admin - {{ item.createdAt|date("d/m/Y") }}</span>
                        <div class="view">
                            <a href="{{ path('app_list_new_detail',{'alias':item.alias}) }}">
                                {% if(item.imageFeature == null) %}
                                    <img class="img-responsive" src="{{ item.imageUrl }}" title="{{ item.title }}"
                                         alt="{{ item.title }}"/>
                                {% else %}
                                    <img src="{% path item.imageFeature,'image_feature' %}" class="img-responsive "
                                         title="{{ item.title }}" alt="{{ item.title }}"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="data">
                            <p>{{ item.description|raw }}</p>
                            <span><a href="{{ path('app_list_new_detail',{'alias':item.alias}) }}">Chi tiết &gt;&gt;&gt;</a></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
                <!---728x90--->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="page_links">
            <ul class="pagination">
                {#<li><a href="#">1</a></li>#}
                {#<li><a href="#">2</a></li>#}
                {#<li><a href="#">3</a></li>#}
                {#<li><a href="#">4</a></li>#}
                {#<li><a href="#">5</a></li>#}
                <div class='pager'>{{ knp_pagination_render(items) }}</div>
            </ul>
        </div>
    </div>
{% endblock %}